footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 48px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  margin: 0;
}

.email {
  text-decoration: underline;
  margin-top: 24px;
}

.icons {
  margin-top: 24px;
}

.icons a {
  margin-right: 32px;
}

.icons img {
  width: 80px;
  height: 80px;
}