/* Background */
body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #FFFFFF 85%, #FCD8FB 100%);
}

/* Typography */
span {
  color: #592782;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  margin:0;
  padding:1rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin:0;
  padding: 1rem;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.25em;
  margin: 1rem;
  padding: 0;
}

/* Navbar */
a {
  text-decoration: none;
  color: black;
}

ul > li {
  margin-right: 5rem;
}

button {
  background-color: #EB70FF;
  border-radius: 5%;
  border:transparent;
  margin-right: 2rem;
}

/* Card Styling */
.color-1 {
  background-color: #FCD8FB;
}

.color-2 {
  background-color: #FAD6DF;
}

.card-title {
  padding-top: 3rem;
}

.home.card, .project.card {
  margin: 1rem;
  border-radius: 5%;
}

.home.card-image {
  max-width: 95%;
  max-height: 100%;
  padding:2rem;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.project.card-image {
  max-height: 100%;
  max-width: 100%;
  padding:2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  max-height: 80px;
  max-width: 80px;
  align-self: center;
}

.home.card, .project.card, .about.card, .banner.card, .row > .card {
  border: transparent;
}

/* Footer */
.footer-content {
  margin: 48px 0px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons img {
  padding: 0.5rem;
  width: 80px;
  height: 80px;
  max-width: 100%;
  height: auto;
}

/* About Page */
.about.row {
  margin: 2rem;
}

/* Project Page */
.card > img {
  padding:2rem;
}

.left-banner {
  border-radius: 10% 0% 0% 10%;
}

.right-banner {
  border-radius: 0% 10% 10% 0%;
}

section.page {
  margin-left: auto;
  margin-right: auto;
}

img.asset, p.caption {
  display: block;
  justify-content: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img.preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}