/* Background */
body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #FFFFFF 85%, #FCD8FB 100%);
}

/* Typography */
.hmw-statement {
  padding: 1rem;
}

.hmw-statement span.green {
  color: #187109;
}

.hmw-statement span.blue {
  color: #1539B8;
}

.hmw-statement span.purple {
  color: #592782;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  margin: 1rem;
  padding: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin: 1rem;
  padding: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em; 
  font-weight: bold;
  margin: 1rem;
  padding: 0;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.25em;
  margin: 1rem;
  padding: 0;
}

ul > li {
  list-style-type: circle;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.25em;
  margin: 0.25rem;
}

a.link {
  color:#3366CC;
  text-decoration: underline;
  font-weight: bold;
}

/* Navbar */
a {
  text-decoration: none;
  color: black;
}

a > img.logo {
  margin-left: 2rem;
}

ul.nav > li {
  list-style-type: none;
  margin-right: 2rem;
}

button {
  background-color: #EB70FF;
  border-radius: 5%;
  border:transparent;
  margin-right: 2rem;
}

/* Card Styling */
.color-1 {
  background-color: #FCD8FB;
}

.color-2 {
  background-color: #FAD6DF;
}

.card-title {
  padding-top: 1.5rem;
}

.home.card, .project.card {
  margin: 1rem;
  border-radius: 5%;
}

.home.card-image {
  max-width: 95%;
  max-height: 100%;
  padding:2rem;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.project.card-image {
  max-height: 100%;
  max-width: 100%;
  padding:2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.icon {
  max-height: 60px;
  max-width: 60px;
  align-self: center;
}

.home.card, .project.card, .about.card, .banner.card, .row > .card {
  border: transparent;
}

/* Footer */
.footer-content {
  margin: 48px 0px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons img {
  padding: 0.5rem;
  width: 80px;
  height: 80px;
  max-width: 100%;
  height: auto;
}

/* About Page */
.about.row {
  margin: 2rem;
}

/* Project Page */
.banner {
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  padding: 2rem;
  border-radius: 5%;
}

section.page {
  margin-left: auto;
  margin-right: auto;
}

p.caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em; 
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

img.asset {
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0rem 1rem;
}

img.asset-caption {
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}